*,
*::before,
*::after {
  margin: 0;
  font-family: "Poppins", Courier, monospace;
  padding: 0;
  box-sizing: border-box;
}

.hero-background {
  background-color: #affcca66;
  text-align: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10em;

  &-text {
    color: #635d5c;

    & h1 {
      font-size: 50px;
      font-weight: 600;
    }

    & span {
      display: block;
      margin: 0 auto;
      width: 75%;
      padding: 1em;
    }
  }
}

.form {
  width: 574px;
  height: 69px;
  border-radius: 10px;
  background-color: #fff;
  margin: 41px auto 60px;
  display: flex;
  align-items: center;

  & input {
    height: inherit;
    background: transparent;
    width: 389px;
    outline: none;
    max-width: 389px;
    border: none;
    font-family: "Poppins";
    font-size: 14px;
    padding-left: 16px;
  }

  & button {
    width: 155px;
    height: 48px;
    border-radius: 10px;
    border: none;
    background-color: #00d23b;
    color: #fff;
    font-family: "Poppins";
    cursor: pointer;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #635d5c;

  & img {
    width: 100px;
  }
}

.header-container {
  margin: 0 auto;
  padding: 2em;
  width: 1116px;
}
